<link rel="stylesheet" href="/public/css/AboutUs.css" />

<div class="web-content">
  <div class="about-container">
    <h1>About Me</h1>

    <div class="picture-with-text-container">
      <div class="picture">
        <img
          src="/public/img/pp.jpg"
          alt="Profile picture of Jeremy Robert"
          class="rounded-image"
        />
      </div>
      <div class="presentation">
        <p>
          Are you wondering who is hiding behind Travel Guider? It's me,
          <b>Jérémy ROBERT</b>. I am 22 years old and I leave in Lyon in France.
          I created this blog in 2024 while I was an abroad student in Ireland.
          This blog was at first just a student project for my school class but
          it's now a way for me to share my discoveries, travels and good
          addresses.
        </p>
      </div>
    </div>
  </div>
</div>
